/*
* TauDuluan v1.0
* Copyright TauDuluan 2016
*/
@charset "utf-8";
.italic { font-style: italic;  }
.mention { color: #E09710; }
.instagram { margin-bottom: 5px; }

.headline {
	/*width: 750px;
	height: 500px;*/
	/*background: url(../img/cover.png);
	background-repeat: no-repeat;*/
	/*color: rgba(255, 255, 255, .5);*/
	/*color: #fff;*/
}

@media only screen and (min-width: 769) {
	.headline {
		width: 350px !important;
	}
}

.shout {
	/*color: #fff;*/
}

span.email {
	height: 42px;
}

img.img-responsive {
	width: 370px !important;
	height: 223px !important;
	float: right;
	margin-bottom: 15px;
}

button.facebook {
	background-color: #3b5998;
	color: #fff;
	/*float: right;*/
	text-transform: uppercase;
}

button.twitter {
	background-color: #55acee;
	color: #fff;
	/*float: right;*/
	text-transform: uppercase;
}

.lennon {
	width: 250px;
	height: 180px;
	/*border-radius: 200px;*/
}

div.avicii {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	color: #000;
	background: #f8f8f8;
	width: 40px;
	height: 40px;
	float: left;
}

#footer {
	background-color: #2F2D2F;
	color: #fff;
}

.footer {
	margin-top: 15px;
}
