@charset "utf-8";
.italic { font-style: italic;  }
.mention { color: #E09710; }
.instagram { margin-bottom: 5px; }

.headline {
	background: url(https://placeholdit.imgix.net/~text?txtsize=70&txt=Headline&w=750&h=500&txttrack=0);
	background-repeat: no-repeat;
}

@media only screen and (min-width: 769) {
	.headline {
		width: 350px !important;
	}
}

.shout {
	padding: 50px;
}

span.email {
	height: 42px;
}

#footer {
	background-color: #2F2D2F;
	color: #fff;
}

.footer {
	margin-top: 15px;
}
